.eligibility {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.eligibility p {
  /* border: 1px;
  border-color: darkgray;
  border-style: solid;
  padding: 2px; */
}

.waitingperiod {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 9em;
}

.latedate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.latedate p {
  /* border: 1px;
  border-color: darkgray;
  border-style: solid;
  padding: 2px; */
}

.signaturedate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
