.eligibility {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.waitingperiod {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 9em;
}

.latedate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.signaturedate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
