#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 800px;
  /* text-align: center; */
}

h1 {
  /* animation: logo-spin infinite 20s linear; */
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes scale-up-hor-center {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #4e4242;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
dd {
  display: inline-block;
  padding: 8px;
  text-align: left;
  border: 1px solid #4e4242;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

::-webkit-scrollbar {
  display: none;
}
